<div class="text-input-wrapper">
  <div
    class="text-input-container"
    (click)="textInput.focus()"
    [ngClass]="{ disabled: isDisabled }"
  >
    <label
      *ngIf="this.placeHolder"
      class="input-label"
      for="textInput"
      [style]="placeHolderStyles"
      [ngClass]="{
        float: hasInputValue(),
        disabled: isDisabled
      }"
    >
      {{ this.placeHolder }}
    </label>
    <input
      #textInput
      type="text"
      id="textInput"
      placeholder=" "
      [(ngModel)]="value"
      [id]="'textInput ' + this.id"
      [type]="type"
      [style]="inputStyles"
      [disabled]="isDisabled"
    />
  </div>
</div>
