.body-wrapper {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  display: grid;
  grid-template-rows: 1fr 40px;
  nav {
    position: fixed;
    bottom: 0;
    height: 35px;
    width: 100%;
  }
}
