.range-wrapper {
  position: relative;
}
.calendar-popup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  position: absolute;
  z-index: 9999;
}

::ng-deep.selection-range {
  background-color: wheat;
}
