<div class="range-wrapper">
  <input
    type="text"
    (click)="displayPopup()"
    [showMaskTyped]="true"
    [(ngModel)]="inputValue"
    (ngModelChange)="changeInput()"
    mask="00/00/0000 - 00/00/0000"
  />
  <div class="calendar-popup" *ngIf="showPopup">
    <app-calendar
      #startDateCalendarComponent
      [wrapperStyles]="{ 'box-shadow': 'none' }"
      [maxDate]="endDate"
      [changeDateClass]="changeDateClass"
      [hasClock]="true"
      [selectedDate]="startDate"
      (changeValue)="startDateChange($event)"
    >
    </app-calendar>
    <app-calendar
      #endDateCalendarComponent
      [wrapperStyles]="{ 'box-shadow': 'none' }"
      [minDate]="startDate"
      [changeDateClass]="changeDateClass"
      [hasClock]="true"
      [selectedDate]="endDate"
      (changeValue)="endDateChange($event)"
    >
    </app-calendar>
  </div>
</div>
