.range-wrapper {
  position: relative;

  input {
    font-size: 12px;
    color: #989fa5;
    background: #fff;
    padding: 0.429em;
    transition: border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #d9e4ea;
  }
}
.calendar-popup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  position: absolute;
  z-index: 9999;
  background-color: #ffffff;
}

::ng-deep.selection-range {
  background-color: wheat;
}
