<div class="wrapper" [ngStyle]="wrapperStyles">
  <div class="content">
    <div class="header">
      <div class="header-date" (click)="handleHeaderDateChange()">
        <ng-container [ngSwitch]="view">
          <ng-container *ngSwitchCase="'calendar'">
            <button>
              {{ viewDate | date : "MMMM, YYYY" }}
              <fa-icon [icon]="rightArrow"></fa-icon>
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'year'">
            <button>
              <fa-icon [icon]="leftArrow"></fa-icon>
              {{ viewDate.getFullYear() - 9 }} -
              {{ viewDate.getFullYear() + 10 }}
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'month'">
            <button>
              <fa-icon [icon]="leftArrow"></fa-icon>
              {{ viewDate.getFullYear() }}
            </button>
          </ng-container>
        </ng-container>
      </div>
      <div class="arrows">
        <fa-icon
          class="arrow arrow-left"
          [icon]="leftArrow"
          (click)="arrowClick('prev')"
        ></fa-icon>
        <fa-icon
          class="arrow arrow-right"
          [icon]="rightArrow"
          (click)="arrowClick('next')"
        ></fa-icon>
      </div>
    </div>
    <div class="calendar-wrapper" [ngSwitch]="view">
      <ng-container *ngSwitchCase="'calendar'">
        <div class="calendar-header">
          <div class="weakday">ორშ</div>
          <div class="weakday">სამ</div>
          <div class="weakday">ოთხ</div>
          <div class="weakday">ხუთ</div>
          <div class="weakday">პარ</div>
          <div class="weakday">შაბ</div>
          <div class="weakday">კვი</div>
        </div>
        <div class="calendar-month">
          <ng-container *ngFor="let monthDate of getMonthViewForUI(viewDate)">
            <div
              class="month-date {{ monthDate.class }} {{
                changeDateClass
                  ? changeDateClass(
                      this.getDateFromMonthDate(
                        monthDate.value,
                        monthDate.class
                      )
                    )
                  : ''
              }}"
              (click)="selectDate(monthDate.value, monthDate.class)"
              [ngClass]="{
                selected:
                  viewDate.getFullYear() === selectedDate?.getFullYear() &&
                  viewDate.getMonth() === selectedDate?.getMonth() &&
                  monthDate.value === selectedDate?.getDate() &&
                  monthDate.class === 'current',
                'not-between': !isBetweenMinAndMaxDate(
                  monthDate.value,
                  monthDate.class
                )
              }"
            >
              <p>{{ monthDate.value }}</p>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'year'">
        <div class="year-selection-wrapper">
          <ng-container *ngFor="let year of getYearSelection(viewDate)">
            <div class="year-selection" (click)="selectYear(year)">
              {{ year }}
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'month'">
        <div class="month-wrapper">
          <div
            class="month"
            *ngFor="let month of Months"
            (click)="selectMonth(month.value)"
          >
            {{ month.nameGeoShort }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
