<form class="inputs-wrapper" [formGroup]="form">
  <h1>Every Element Using ControlValueAccessor</h1>
  <div class="inputs-content">
    <div class="gird-wrapper">
      <div class="grid-columns column column-1">
        <h3 class="column-header">
          Checkboxes <span>(select checkbox to see difference)</span>
        </h3>
        <ul class="column-list" formGroupName="checkboxes">
          <li>
            <app-checkbox
              [id]="'first'"
              [label]="'Label'"
              formControlName="checkbox1"
            >
            </app-checkbox>
          </li>
          <li>
            <app-checkbox
              [id]="'first'"
              [label]="'Label სტილები'"
              [labelStyles]="{ 'font-weight': 'bold' }"
              formControlName="checkbox2"
            ></app-checkbox>
          </li>
          <li>
            <app-checkbox
              [id]="'first'"
              [label]="'Input სტილები'"
              formControlName="checkbox3"
              [inputStyles]="{
                'background-color': 'wheat'
              }"
            ></app-checkbox>
          </li>
          <li>
            <app-checkbox
              [id]="'first'"
              [label]="'Svg or Png Or any image Icon with url'"
              [iconUrl]="environment.baseHref + 'assets/svgs/check-black.svg'"
              [iconStyles]="{ color: 'red' }"
              formControlName="checkbox4"
            ></app-checkbox>
          </li>
          <li>
            <app-checkbox
              [id]="'first'"
              [label]="'FontAwesome Icon with styles'"
              [iconDefinition]="checkIcon"
              [iconStyles]="{ color: 'red' }"
              formControlName="checkbox5"
            ></app-checkbox>
          </li>
        </ul>
      </div>
      <div class="grid-columns column column-2">
        <h3 class="column-header">Radio Buttons</h3>
        <ul class="column-list" [formGroupName]="'radios'">
          <li>
            <app-radio
              [name]="'te'"
              [formControlName]="'maleFemale'"
              [radioValue]="'male'"
              [label]="'Male'"
            ></app-radio>
          </li>
          <li>
            <app-radio
              [name]="'te'"
              [formControlName]="'maleFemale'"
              [radioValue]="'female'"
              [label]="'Female'"
              [labelStyles]="{ 'font-weight': 'bold' }"
            ></app-radio>
          </li>
        </ul>
      </div>
      <div class="grid-columns column column-3">
        <h3 class="column-header">Text Inputs</h3>
        <ul class="column-list" [formGroupName]="'textInputs'">
          <li>
            <app-text-input
              [placeHolder]="
                'სახელი და ძალიან დიდი ლაბელი რომელიც არ შეიძლება იყოს დიდი'
              "
              formControlName="textInput1"
            >
            </app-text-input>
          </li>
        </ul>
      </div>
    </div>
  </div>
</form>
